@page "/import-servers"

<h2>@MyText.uploadServersData</h2>

<br />

<RadzenRow>
    <RadzenColumn Size="5">
        <NetcodeHubFileUpload @ref="FileUpload"
                              Notify="RetrieveFiles"
                              Multiple=false
                              RequiredExtensions="RequiredEx"
                              ShowDisplay="false" />
    </RadzenColumn>
    <RadzenColumn>
        <RadzenButton Text="@MyText.uploadData" Click="UploadServers" Visible="@(_serverAddress.Count > 0)" />
    </RadzenColumn>
    <RadzenColumn Offset="2" Style="text-align:end">
        <RadzenButton Text="@MyText.deleteAllServers" Click="DeleteAllServers" />
    </RadzenColumn>
</RadzenRow>

<br />

@if (_customLoader)
{
    <MyLoader2 LoaderText="@_loaderText" />
}

@if (_showCounter)
{
    <h4>Time Spent: @ElapsedTime</h4>
}

<RadzenDataGrid Data="_serverAddress.Skip(0)">
    <Columns>
        <RadzenDataGridColumn Title="@MyText.serverAddress" Property="@nameof(ServersAddressViewModel.Address)" />
    </Columns>
</RadzenDataGrid>

<Notification @ref="NotificationRef" />

@code {
    [Inject]
    private IMainService<ServersAddressViewModel>? _serverAddressService { get; set; }

    private Notification NotificationRef = new();

    private I18nText.MyText MyText = new();

    string Base64String = string.Empty;

    List<string> RequiredEx = [".xlsx"];

    private bool _customLoader;

    private bool _showCounter;

    private string _loaderText = string.Empty;

    private List<ServersAddressViewModel> _serverAddress = new();

    NetcodeHubFileUpload FileUpload = new();

    private Stopwatch _stopwatch = new();

    private string ElapsedTime = "0s";

    protected override async Task OnInitializedAsync()
    {
        MyText = await I18nText.GetTextTableAsync<I18nText.MyText>(this);
    }

    private async Task RetrieveFiles(NetcodeHubUploadModel incomingFiles)
    {
        _customLoader = true;

        _loaderText = MyText.downloading;

        if (incomingFiles is not null)
        {
            foreach (var item in incomingFiles.FileModel!.IBrowserFiles!)
            {
                await ReadExcelFile(item);
            }
        }
        StateHasChanged();

        _customLoader = false;
    }

    private async Task ReadExcelFile(IBrowserFile file)
    {
        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
        _serverAddress = new();

        using (var stream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(stream);
            stream.Position = 0;

            using (var package = new ExcelPackage(stream))
            {
                var workSheet = package.Workbook.Worksheets[0];
                var rowCount = workSheet.Dimension.Rows;
                var colCount = workSheet.Dimension.Columns;

                // Assuming columns are labeled as "Id" and "NameAr"
                for (int row = 2; row <= rowCount; row++)
                {
                    var server = new ServersAddressViewModel();
                    server.Address = workSheet.Cells[row, 1].Text;
                    _serverAddress.Add(server);
                }
            }
        }
    }

    private async Task UploadServers()
    {
        try
        {
            // Start the stopwatch when upload starts
            _showCounter = true;
            _stopwatch.Restart();
            _stopwatch.Start();
            _customLoader = true;
            _loaderText = MyText.uploading;

            ElapsedTime = "0s"; // Reset time display

            // Update the time every second while the upload is in progress
            _ = Task.Run(() =>
            {
                while (_stopwatch.IsRunning)
                {
                    ElapsedTime = $"{_stopwatch.Elapsed.Seconds}s";
                    InvokeAsync(StateHasChanged); // Update UI
                    Task.Delay(1000).Wait();
                }
            });

            var response = await _serverAddressService!.AddNewRows(_serverAddress, $"{ApiRoutes.v1}/{ApiRoutes.ServersAddress.AddRangeServerAddress}");

            if (response.Success)
            {
                NotificationRef.ShowNotifications(MyText.serversUpload, MyText.serversDataUploaded, duration: 5000);
                _serverAddress.Clear();
            }
            else
            {
                var error = response.ErrorResponse?.Errors.Values.SelectMany(list => list).ToList().FirstOrDefault()!;
                NotificationRef.ShowNotifications(MyText.serversUpload, error, NotificationSeverity.Error, 10000);
            }
        }
        catch (Exception ex)
        {
            NotificationRef.ShowNotifications(MyText.serversUpload, ex.Message, NotificationSeverity.Error, 10000);
        }
        finally
        {
            _stopwatch.Stop();
            _customLoader = false;
        }
    }

    private async Task DeleteAllServers()
    {
        bool? confirmation = await dialogService.Confirm($"{MyText.confirmDelete} ?", MyText.deleteServers);
        if (confirmation == true)
        {
            var response = await _serverAddressService!.DeleteRow($"{ApiRoutes.v1}/{ApiRoutes.ServersAddress.DeleteAllServersAddress}");
            if (response.Success)
            {
                NotificationRef.ShowNotifications(MyText.serversAddressDeleted, MyText.serversAddressDataDeleted);
                _serverAddress.Clear();
                await localStorage.RemoveItemAsync(StorageKeys.ServersAddressGridSettings);
            }
            else
            {
                var error = response.ErrorResponse?.Errors.Values.SelectMany(list => list).ToList().FirstOrDefault()!;
                NotificationRef.ShowNotifications(MyText.error, error, NotificationSeverity.Error, 5000);
            }
        }
    }
}
