<RadzenTemplateForm TItem="ChangePasswordViewModel" Method="Get" Data="_changePassword">

    <ChildContent>
        <div class="row mb-3">
            <div class="col-md-2">
                <RadzenLabel Text="@MyText.currentPassword" style="width: 100%" />
            </div>
            <div class="col-md-10">
                <MyClearButton ClearTextBox="@ClearCurrentPassword">
                    <TextBox>
                        <RadzenTextBox Name="@nameof(ChangePasswordViewModel.CurrentPassword)"
                                       @bind-Value="_changePassword.CurrentPassword"
                                       style="width: 100%" />

                        <RadzenRequiredValidator Component="@nameof(ChangePasswordViewModel.CurrentPassword)"
                                                 Text="@MyText.requiredField" />
                    </TextBox>
                </MyClearButton>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2">
                <RadzenLabel Text="@MyText.newPassword" style="width: 100%" />
            </div>

            <div class="col-md-10">
                <MyClearButton ClearTextBox="@ClearNewPassword">
                    <TextBox>
                        <RadzenTextBox Name="@nameof(ChangePasswordViewModel.NewPassword)"
                                       @bind-Value="_changePassword.NewPassword"
                                       style="width: 100%" />

                        <RadzenRequiredValidator Component="@nameof(ChangePasswordViewModel.NewPassword)"
                                                 Text="@MyText.requiredField" />
                    </TextBox>
                </MyClearButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-2">

                <RadzenButton ButtonType="ButtonType.Submit"
                              Icon="@GoogleIcons.Save"
                              Text="@MyText.save"
                              Disabled="@(!CanSubmit)"
                              Click="UpdateInfo" />
            </div>
        </div>
    </ChildContent>
</RadzenTemplateForm>

@code {

    private void ClearNewPassword() => _changePassword.NewPassword = string.Empty;

    private void ClearCurrentPassword() => _changePassword.CurrentPassword = string.Empty;

    #region Paarameters

    [Parameter]
    public EventCallback<ChangePasswordViewModel> OnUserUpdated { get; set; }

    #endregion

    #region Variables

    public ChangePasswordViewModel _changePassword { get; set; } = new();

    private I18nText.MyText MyText = new();

    private bool IsEditMode { get; set; } = false;

    #endregion

    #region LifeCycleMethods

    protected async override Task OnInitializedAsync() => MyText = await I18nText.GetTextTableAsync<I18nText.MyText>(this);

    #endregion

    #region Methods

    private bool CanSubmit =>
    !string.IsNullOrWhiteSpace(_changePassword.CurrentPassword) &&
    !string.IsNullOrWhiteSpace(_changePassword.NewPassword);

    private void UpdateInfo()
    {
        OnUserUpdated.InvokeAsync(_changePassword);
        _changePassword = new();
        IsEditMode = false;
    }

    #endregion
}
